.sky {
  height: calc(max(200vh, 200vw));
  width: calc(max(200vh, 200vw));
  top: -100vh;
  left: -50vw;
  position: absolute;
  /* background-image: linear-gradient(rgb(255, 0, 0, 0.1), rgb(0, 0, 255, 1.3)); */
  z-index: -100;
  border: none;
  border-radius: 50%;
  outline: none;
}

.sun {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 25%;
  left: 50%;
  background-image: radial-gradient(white, rgb(241, 241, 168), rgb(241, 241, 139), rgb(247, 199, 110));
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 0px 100px rgb(217, 255, 0);
}

.star {
  z-index: -99;
}

.farm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: -98;
  background-image: url('../images/farm-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}