.sky {
  height: calc(max(200vh, 200vw));
  width: calc(max(200vh, 200vw));
  top: -100vh;
  left: -50vw;
  position: absolute;
  background-image: 
  linear-gradient(0deg, rgba(52, 6, 95, 0.973), rgba(52, 6, 95, 0) 80.71%),
  linear-gradient(180deg, rgb(195, 251, 255), rgba(195, 251, 255, 0) 100.71%),
  linear-gradient(120deg, rgb(240, 191, 203), rgba(235, 186, 123, 0) 60.71%),
  linear-gradient(240deg, rgba(235, 186, 123, 0.8), rgba(235, 186, 123, 0) 60.71%)
  ;
  z-index: -100;
  border: none;
  border-radius: 50%;
  outline: none;
}

.sun {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 25%;
  left: calc(50% - 60px);
  background-image: radial-gradient(white, rgb(241, 241, 168), rgb(241, 241, 139), rgb(247, 199, 110));
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 0px 100px rgb(217, 255, 0);
}

.star {
  z-index: -99;
}

.farm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: -98;
  background-image: url('../images/farm-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}